In [1]:
import pandas as pd
import os

In [2]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul','Aug','Sep','Oct','Nov','Dec']

In [7]:
features_all_months = pd.read_csv('all_months_features.csv', names = ['features'])

In [8]:
features_all_months.head(2)

       features
0      Building
1  Architecture

In [22]:
for mon in months:
    print(mon)
    mon_counting = pd.read_csv('by_months_counting/'+ mon +'_counting_Lund_Photos'+'.csv', 
                              names =['features', 'counts'])

    freq = []
    for term in features_all_months['features']:
        #print(term)
        if term in mon_counting['features'].tolist():
            #print(term)
            index = mon_counting['features'][mon_counting['features'] == term].index[0]
            #print(index)
            freq.append(mon_counting['counts'][index])
        else:
            freq.append(0)
        #print(freq)
    features_all_months[mon+'_freq'] = freq

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [23]:
features_all_months.head(1)

,features,Jan_freq,Feb_freq,Mar_freq,Apr_freq,May_freq,Jun_freq,Jul_freq,Aug_freq,Sep_freq,Oct_freq,Nov_freq,Dec_freq
0,Building,55,18,108,110,212,234,350,342,249,124,18,28

In [30]:
features_all_months.to_csv('all_months_features_all_month_vectors.csv', index= False)