In [35]:
import pandas as pd

In [43]:
data = pd.read_csv('block-net.csv')

In [44]:
data.head(2)

,full_id,osm_id,osm_type,landuse,name,place,place_se,type,admin_leve,boundary,...,info1,block area,block name,left,top,right,bottom,id,fishnet-area,fishnet-ID
0,r1952414,1952414.0,relation,residential,Fiolen,city_block,kvarter,multipolygon,NaN,NaN,...,NaN,62284.0,Fiolen,862863.075076,-3.668329e+06,863063.075076,-3.668529e+06,1156,40000.034491,1156
1,r1952414,1952414.0,relation,residential,Fiolen,city_block,kvarter,multipolygon,NaN,NaN,...,NaN,62284.0,Fiolen,862863.075076,-3.668529e+06,863063.075076,-3.668729e+06,1157,39999.950633,1157

In [45]:
data.shape

(4753, 32)

In [46]:
data_city_block = data[data['place']=='city_block']

In [47]:
data_city_block.shape

(2663, 32)

In [48]:
data_fishnet = data.groupby(['fishnet-ID']).count()

In [51]:
data_fishnet = data_fishnet.reset_index()

In [52]:
data_fishnet.head(2)

,fishnet-ID,full_id,osm_id,osm_type,landuse,name,place,place_se,type,admin_leve,...,info,info1,block area,block name,left,top,right,bottom,id,fishnet-area
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1

In [42]:
data_fishnet.to_csv('group_by_fishnet_all.csv')

In [33]:
data2 = pd.read_csv('group_by_fishnet_sort_by_fullid.csv')

In [34]:
data2.sort_values(by = ['fishnet-ID'], ascending = [1])

,fishnet-ID,full_id,osm_id,osm_type,landuse,name,place,place_se,type,admin_leve,...,info,info1,block area,block name,left,top,right,bottom,id,fishnet-area
0,15,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
127,16,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
125,53,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
130,54,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
122,55,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
264,56,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
114,57,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
113,89,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
224,90,2,2,2,2,2,2,1,0,0,...,0,0,2,2,2,2,2,2,2,2
223,91,2,2,2,2,2,2,1,0,0,...,0,0,2,2,2,2,2,2,2,2
279,92,3,3,3,3,3,3,2,0,0,...,0,0,3,3,3,3,3,3,3,3
123,93,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
269,94,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
248,95,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
117,96,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
141,97,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
134,98,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
126,99,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
124,126,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
165,127,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
425,128,4,4,4,4,4,4,2,0,0,...,0,0,4,4,4,4,4,4,4,4
166,129,2,2,2,2,2,2,0,0,0,...,0,0,2,2,2,2,2,2,2,2
363,130,4,4,4,4,4,4,3,0,0,...,0,0,4,4,4,4,4,4,4,4
193,131,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
200,132,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
271,133,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
268,134,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
255,135,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
313,136,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
128,137,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,1311,4,4,4,4,4,4,4,0,0,...,0,0,4,4,4,4,4,4,4,4
437,1312,4,4,4,4,4,4,4,0,0,...,0,0,4,4,4,4,4,4,4,4
587,1313,8,8,8,8,8,8,8,0,0,...,0,0,8,8,8,8,8,8,8,8
243,1314,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
275,1315,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
71,1316,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
212,1317,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
240,1318,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
252,1319,3,3,3,3,3,3,2,0,0,...,0,0,3,3,3,3,3,3,3,3
216,1320,2,2,2,2,2,2,0,0,0,...,0,0,2,2,2,2,2,2,2,2
281,1350,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
284,1351,3,3,3,3,3,3,3,0,0,...,0,0,3,3,3,3,3,3,3,3
222,1352,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
72,1353,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
73,1354,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
229,1355,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
74,1356,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
75,1357,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
76,1387,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
234,1388,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
503,1389,6,6,6,6,6,6,6,0,0,...,0,0,6,6,6,6,6,6,6,6
443,1390,5,5,5,5,5,5,5,0,0,...,0,0,5,5,5,5,5,5,5,5
215,1391,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
77,1393,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
78,1394,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
79,1395,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
80,1426,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1
359,1427,4,4,4,4,4,4,4,0,0,...,0,0,4,4,4,4,4,4,4,4
133,1428,2,2,2,2,2,2,2,0,0,...,0,0,2,2,2,2,2,2,2,2
111,1429,1,1,1,1,1,1,1,0,0,...,0,0,1,1,1,1,1,1,1,1