In [1]:
import pandas as pd

In [2]:
def min_max_nonzero(df_data, col):
    mini = df_data[df_data[col]>0.00001][col].min()
    maxi = df_data[df_data[col]>0.00001][col].max()
    return mini, maxi

In [3]:
data_review = pd.read_csv('pic-data/no-res.csv')

In [4]:
data_review.head(2)

,left,top,right,bottom,id,field_1_co,field_1_un,field_1_mi,field_1_ma,field_1_ra,...,long_range,long_sum,long_mean,long_media,long_stdde,long_minor,long_major,long_q1,long_q3,long_iqr
0,857463.075076,-3.669529e+06,857663.075076,-3.669729e+06,136,1,1,171.0,171.0,0.0,...,0.0,13.154996,13.154996,13.154996,0.0,13.154996,13.154996,13.154996,13.154996,0.0
1,857863.075076,-3.669529e+06,858063.075076,-3.669729e+06,212,1,1,151.0,151.0,0.0,...,0.0,13.160002,13.160002,13.160002,0.0,13.160002,13.160002,13.160002,13.160002,0.0

In [5]:
data_review_part = data_review[['id','review c_5']]

In [6]:
data_review_part.head(2)

    id  review c_5
0  136        30.0
1  212         9.0

In [7]:
mini_r, maxi_r = min_max_nonzero(data_review_part, 'review c_5')
data_review_part['review_N'] = (data_review['review c_5']-mini_r)/(maxi_r-mini_r)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
data_review_part['review_N'] = 3* data_review_part['review_N']

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
data_review_part.to_csv('review_number_normalized.csv')

In [10]:
#data_review_part

In [11]:
data_new = pd.read_csv('trad_sum_pic.csv', index_col=0)

In [12]:
data_new.head(2)

   id  ID_count  ID_count_N  trad_sum  fishnet-ID
0   1       NaN         NaN       NaN           1
1   2       NaN         NaN       NaN           2

In [13]:
data_new2  = pd.merge(data_new, data_review_part, on = 'id', how = 'outer')

In [14]:
len(data_new2)

1520

In [15]:
#data_new2.head(200)

In [16]:
data_new2.to_csv('trad_sum_pic_rev.csv')