In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('building-net.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (5,11,14,15,19,20,23,24,25,28,29,31,34,35,36,38,39,40,42,43,44,45,46,47,48,50,51,52,53,54,55,56,59,61,62,63,65,66,67,68,69,70,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,112,113,115,116,117,119,120,121,122,123,124,125,127,128,129,130,131,132,133,134,135,136,137,138,139,140,142,143,144,145,146,147,148,149,150,151,152,153,154) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
data.head(2)

,full_id,osm_id,osm_type,building,building_l,type,addr_city,addr_count,addr_house,addr_stree,...,construc_1,opening_da,bu-area,left,top,right,bottom,id,fishnet-area,fishnet-ID
0,r357491,357491.0,relation,yes,4.0,multipolygon,NaN,NaN,NaN,NaN,...,NaN,NaN,13616.0,861063.075076,-3.667929e+06,861263.075076,-3.668129e+06,812,40000.026171,812
1,r357491,357491.0,relation,yes,4.0,multipolygon,NaN,NaN,NaN,NaN,...,NaN,NaN,13616.0,861063.075076,-3.667729e+06,861263.075076,-3.667929e+06,811,40000.007587,811

In [36]:
data.shape

(22379, 163)

In [37]:
#data_city_block = data[data['place']=='city_block']

In [38]:
#data_city_block.shape

In [51]:
data_fishnet = data.groupby(['fishnet-ID'])['building'].value_counts()

In [53]:
#data_fishnet = data_fishnet.reset_index()

In [54]:
#data_fishnet

In [45]:
#data_fishnet.read_csv("building_type_counts.csv")

In [41]:
#data_fishnet.head(2)

fishnet-ID  building
52          yes         1
54          yes         2
dtype: int64

In [56]:
data_building_type = pd.read_csv('building_type_counts.csv', names = ['fishnet-ID', 
                                                                      'building_type', 'builing_type_counts'])

In [65]:
data_building_type_number = data_building_type.groupby(['fishnet-ID']).count()

In [67]:
data_building_type_number = data_building_type_number.reset_index()

In [69]:
data_building_type_number = data_building_type_number.drop(['builing_type_counts'], axis=1)

In [71]:
data_building_type_number.to_csv('bulding_type_number_by_fishnet.csv')