In [12]:
import pandas as pd

In [13]:
def min_max_nonzero(df_data, col):
    mini = df_data[df_data[col]>0.00001][col].min()
    maxi = df_data[df_data[col]>0.00001][col].max()
    return mini, maxi

In [14]:
data = pd.read_csv('building_block_density_diversity_new2.csv')

In [15]:
data = data.fillna(0)

In [16]:
mini_den, maxi_den = min_max_nonzero(data, 'building_density')

In [17]:
data['bu_den_N'] = (data['building_density']-mini_den)/(maxi_den-mini_den)

In [18]:
mini_typ, maxi_typ = min_max_nonzero(data, 'building_type')
data['bu_typ_N'] = (data['building_type']-mini_typ)/(maxi_typ-mini_typ)

In [19]:
mini_block, maxi_block = min_max_nonzero(data, 'bu-sum-in-block')
data['blo_sum_N'] = (data['bu-sum-in-block']-mini_block)/(maxi_block-mini_block)

In [20]:
data[data<0] = None

In [23]:
data.to_csv('normlize_exl_zero.csv')

In [24]:
data['trad_sum'] = data['bu_den_N'] + data['bu_typ_N'] + data['blo_sum_N']

In [25]:
data.to_csv('normlize_exl_zero_add_sum.csv')

In [26]:
data_picture = pd.read_csv('pic-data/no-pic_new.csv')

In [27]:
data_picture.head(2)

,left,top,right,bottom,id,ID_count,ID_unique,ID_empty,ID_filled,ID_min,...,long_range,long_sum,long_mean,long_median,long_stddev,long_minority,long_majority,long_q1,long_q3,long_iqr
0,856863.075076,-3.665329e+06,857063.075076,-3.665529e+06,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,856863.075076,-3.665529e+06,857063.075076,-3.665729e+06,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
data_pic_new = data_picture[['id', 'ID_count']]

In [33]:
mini_pic, maxi_pic = min_max_nonzero(data_pic_new, 'ID_count')

In [34]:
data_pic_new['ID_count_N'] = (data_pic_new['ID_count']-mini_pic)/(maxi_pic-mini_pic)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
data_pic_new['trad_sum'] = data['trad_sum']
data_pic_new['fishnet-ID'] = data['fishnet-ID']

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [40]:
data_pic_new['ID_count_N'] = 3*data_pic_new['ID_count_N']

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
data_pic_new['ID_count_N']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
        ..
1490   NaN
1491   NaN
1492   NaN
1493   NaN
1494   NaN
1495   NaN
1496   NaN
1497   NaN
1498   NaN
1499   NaN
1500   NaN
1501   NaN
1502   NaN
1503   NaN
1504   NaN
1505   NaN
1506   NaN
1507   NaN
1508   NaN
1509   NaN
1510   NaN
1511   NaN
1512   NaN
1513   NaN
1514   NaN
1515   NaN
1516   NaN
1517   NaN
1518   NaN
1519   NaN
Name: ID_count_N, Length: 1520, dtype: float64

In [42]:
data_pic_new.to_csv('trad_sum_pic.csv')