In [5]:
import pandas as pd

In [6]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul','Aug','Sep','Oct','Nov','Dec']

In [4]:
N1 = 1
N2 = 2

top_N_group = []
#N=1
for N in range(2, 6):
    for month in months:
        print(month)
        #data1 = pd.read_csv('output_'+month+'_'+str(N1)+".csv")
        data2 = pd.read_csv('output_'+month+'_'+str(N2)+".csv")
        data2 = data2[data2['Category']=='Topic'+str(N)]
        data2 = data2.reset_index(drop = True, inplace=True)
        top1_data2 = data2.drop(['term','Category','Total','loglift','logprob'], axis =1)
        top1_data2 = top1_data2.rename(index=str, columns={"Freq": month+"_Freq", "Term": month + "_Term"})
        top_N_group.append(top1_data2)
        print(len(top1_data2))
    combined = pd.concat(top_N_group, axis =1)
    combined.to_csv("combined_Topic_"+str(N)+"_all_months.csv")

Jan
34
Feb
31
Mar
36
Apr
38
May
41
Jun
32
Jul
36
Aug
41
Sep
43
Oct
44
Nov
37
Dec
41
Jan
45
Feb
45
Mar
41
Apr
41
May
42
Jun
38
Jul
45
Aug
39
Sep
39
Oct
37
Nov
41
Dec
43
Jan
47
Feb
41
Mar
34
Apr
40
May
35
Jun
42
Jul
37
Aug
41
Sep
35
Oct
46
Nov
46
Dec
43
Jan
55
Feb
44
Mar
42
Apr
45
May
41
Jun
40
Jul
34
Aug
40
Sep
43
Oct
57
Nov
41
Dec
47

In [50]:
combined = pd.concat(top1_group, axis =1)

In [51]:
combined.to_csv("combined_Topic1_all_months.csv")

In [30]:
#print(data2)

In [27]:
top1_group = data2[data2['Category']=='Topic1']

In [33]:
print(top1_group)#

    term Category       Freq           Term      Total  loglift  logprob
30    41   Topic1  29.888118       landmark  30.345109   0.2443  -2.9738
31    25   Topic1  23.163526         estate  23.614441   0.2402  -3.2286
32    37   Topic1  26.841493          house  27.420451   0.2381  -3.0813
33    64   Topic1  19.339901       property  19.771260   0.2374  -3.4090
34    36   Topic1  20.299663           home  20.758493   0.2371  -3.3606
35     1   Topic1  81.360520   architecture  83.281414   0.2361  -1.9723
36    49   Topic1  17.404851       medieval  17.850313   0.2342  -3.5145
37    26   Topic1  16.415431         facade  16.878453   0.2317  -3.5730
38    47   Topic1  12.647242        mansion  13.092311   0.2249  -3.8338
39    83   Topic1  12.616088        stately  13.075627   0.2237  -3.8362
40    57   Topic1  12.625657         palace  13.089148   0.2234  -3.8355
41    16   Topic1  11.664327      classical  12.127465   0.2205  -3.9147
42     6   Topic1  49.607773       building  51.619368   0.2197  -2.4671
43    66   Topic1   8.798812           real   9.238819   0.2107  -4.1966
44    99   Topic1   7.851211        worship   8.283610   0.2059  -4.3105
45    62   Topic1   7.844314          place   8.279573   0.2055  -4.3114
46    38   Topic1   6.838121          human   7.286476   0.1960  -4.4487
47    91   Topic1   6.845817          urban   7.297564   0.1956  -4.4476
48    74   Topic1   6.827372     settlement   7.278526   0.1955  -4.4503
49    35   Topic1   5.925163       historic   6.359286   0.1888  -4.5920
50    13   Topic1   5.934279        chateau   6.377925   0.1874  -4.5905
51    14   Topic1   5.934488         church   6.381718   0.1868  -4.5904
52    54   Topic1   4.916863  neighbourhood   5.347955   0.1754  -4.7785
53    75   Topic1   4.956605           site   5.399379   0.1739  -4.7705
54    10   Topic1   4.958751      cathedral   5.402154   0.1738  -4.7701
55    96   Topic1   4.005208           wall   4.438872   0.1567  -4.9836
56    46   Topic1   4.006260          manor   4.445654   0.1554  -4.9834
57    51   Topic1   3.974542          mixed   4.412929   0.1548  -4.9913
58    92   Topic1   3.965243            use   4.414059   0.1522  -4.9936
59    15   Topic1  18.655626           city  20.810786   0.1501  -3.4451
60    88   Topic1  13.791251           town  16.639322   0.0717  -3.7472
61    76   Topic1  12.506377            sky  16.027149   0.0114  -3.8450
62     2   Topic1  13.235783           area  17.294197  -0.0080  -3.7883
63    90   Topic1  13.479408           tree  20.639056  -0.1666  -3.7700